<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhNI6bSPlbEMXX9FMyz0N0u9s3jRuimqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>215941569709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lfsantos2008.AutoCareBase</string>
	<key>PROJECT_ID</key>
	<string>autocarebase-76a27</string>
	<key>STORAGE_BUCKET</key>
	<string>autocarebase-76a27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215941569709:ios:d09d57822e909ec2057a24</string>
</dict>
</plist>